.idea
TelegramBot.iml
target
args.txt

data/*
src/main/resources/props
src/main/resources/mapping.txt
src/main/resources/exc_mapping.txt
src/main/resources/acc_mapping.txt
src/main/resources/logback.xml
src/main/resources/application.properties
logs/*
todo_list.txt
src/main/resources/contexts
